.question-form {
  background-color: white;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.submit {
  border-radius: 0.4rem;
  border: 0.1px solid #404040;
  background-color: #ec6b29;
  color: white;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.field {
  margin-bottom: 0.25rem;
  text-align: center;
  input,
  textarea {
    border: none;
    border-bottom: 1px solid #404040;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    resize: none;

    &:focus {
      border-bottom-color: #ec6b29;
      outline: none;
    }
  }

  textarea {
    font-style: italic;
    height: 8rem;
  }
}

.srv-validation-message {
  font-size: 12px;
  color: red;
}

.success {
  font-size: 12px;
  color: #ec6b29;
}