nav {
  background: #23233f;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: #ec6b29;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}

.nav-logo {
  height: 40px;
  width: auto;
}

.links .active-link {
  color: #ec6b29;
}

.links a {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  border: none;
}

.links a:hover {
  color: #ec6b29;
  padding-left: 1.5rem;
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-container {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: #ec6b29;
    transition: all 0.3s linear;
  }

  .social-icons a:hover {
    color: white;
  }
}
